@import "../../../theme/colors";

ScrollView {
  height: 100%;
}
.page {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20 0;
}
.calendar {
  margin: 0 10;
}

.week {
  text-align: center;
  color: $secondary;
  font-weight: bold;
  width: 100%;
  margin: 15 0;
}
.day {
  justify-content: center;
  align-items: center;
  margin: 10;
  width: 50;
  height: 50;
  border-width: 1;
  border-color: $primary;
  border-radius: 50%;
  color: $primary;
}

.completed {
  color: #fff;
  background: $success;
}

.failed {
  color: #fff;
  background: $fail;
}

.not-settable {
  color: #000;
  background: $disabled;
}
.fa {
  font-size: 24;
}
