.page {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20;
}

Label {
  .week {
    text-align: center;
    width: 100%;
  }
  .day {
    width: 50;
    height: 50;
    border-width: 1;
    border-color: green;
  }
}
