/* Add mobile styles for the component here.  */
StackLayout {
    height: 250;
    border-color: plum;
    border-width: 2;
}
Label {
  height: 50;
  width: 50;
  margin-bottom: 10;
}
#l1 {
  background: rebeccapurple;
}
#l2 {
  background-color: orange;
  vertical-align: top;
}
#l3 {
  background-color: palegreen;
  horizontal-align: right;
}
