<TabView androidTabsPosition="bottom" *ngIf="!isLoading">
  <StackLayout *tabItem="{ title: 'Today', iconSource: 'res://check' }">
    <router-outlet name="today"> </router-outlet>
  </StackLayout>
  <StackLayout
    *tabItem="{ title: 'Current Challenge', iconSource: 'res://trophy' }"
  >
    <router-outlet name="currentChallenge"> </router-outlet>
  </StackLayout>
</TabView>
<FlexboxLayout justifyContent="center" alignItems="center" *ngIf="isLoading">
  <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</FlexboxLayout>
