@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/default.css";

.btn {
    width: 250;
    padding: 5 10;
    color: #fff;
    background: #9c1f9c;
    border-width: 1;
    border-color: #9c1f9c;
    border-radius: 30%;
    margin: 5 0;
}

