<ActionBar [title]="title" (loaded)="onLoadedActionBar()">
  <NavigationButton
    android.systemIcon="ic_menu_back"
    (tap)="onGoBack()"
    *ngIf="canGoBack"
  ></NavigationButton>
  <NavigationButton
    icon="res://menu_black"
    *ngIf="isAndroid && hasMenu"
    (tap)="onToggleMenu()"
  ></NavigationButton>
  <ActionItem
    ios.position="left"
    *ngIf="!isAndroid && hasMenu"
    (tap)="onToggleMenu()"
  >
    <Label class="fa m-5" text="&#xf0c9;"></Label>
  </ActionItem>
  <ng-content></ng-content>
</ActionBar>
